<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav sec:authorize="isAuthenticated()" class="navbar navbar-expand-lg px-0 no-padding"
         style="background-color: #c2efc5">
        <div class="container-fluid" style="padding-left: 0">
            <a class="navbar-brand no-padding" href="/task" style="color: darkred">
                <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/logo1.png" alt="" width="140" height="76">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/task"> <b>Заявки</b></a>
                    </li>
                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('EXECUTOR') || hasRole('MAIN_EXECUTOR'))"
                        class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <b>Отчёты</b>
                        </a>
                        <ul class="dropdown-menu drop-style">
                            <li><a class="dropdown-item" href="/task">Оперативная информация</a></li>
                            <li><a class="dropdown-item" href="/task">Нормативы обработки заявок (SLA)</a></li>
                            <li><a class="dropdown-item" href="/task">Просроченные заявки</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/task">Еженедельный отчёт</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('EXECUTOR'))"
                        class="nav-item dropdown drop-style">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <b>Настройки</b>
                        </a>
                        <ul class="dropdown-menu drop-style">
                            <li><a class="dropdown-item" href="/users">Пользователи</a></li>
                            <li><a class="dropdown-item" href="/locations">Площадки</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/category">Категории</a></li>
                            <li><a class="dropdown-item" href="/typetask">Типы заявок</a></li>
                            <li><a class="dropdown-item" href="/sla">SLA</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/groups">Группы</a></li>
                            <li><a class="dropdown-item" href="/role">Роли</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/workSchedule">График работы</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" style="margin-right: 20px">
                    <a class="btn btn-primary addTask" sec:authorize="isAuthenticated() && (!hasRole('ADMIN'))"
                       href="/task/add" role="button">Новая заявка</a>
                </form>
                <a sec:authorize="isAuthenticated() && !hasRole('ADMIN')"
                   th:href="'/users/profile/' + ${#authentication.getPrincipal().getUserId()}"
                   class="d-flex nav-link active btn-profile" style="margin-left: 5px; margin-right: 5px">
                    <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/profile-gray.png" width="35" height="35" alt="">
                </a>
                <form class="d-flex" sec:authorize="isAuthenticated()">
                    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                </form>
                <form class="d-flex btn-exit" style="margin-left: 15px; margin-right: 20px">
                    <a href="/logout" class="nav-link active" aria-current="page">
                        <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/exitNew.png"
                             width="30" height="30" alt="">
                    </a>
                </form>
            </div>
        </div>
    </nav>
</div>