<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>ServiceDesk</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Service Desk</h1>
    <h3><p class="text-start">
        <p class="lh-1">Service Desk — это сервис для автоматизации обработки запросов на обслуживание.
        Он действует как единая точка контакта между пользователями и поставщиком услуг.</p>
        <p class="lh-1">Систему Service Desk используют для организации работы сервисных служб в рамках ITSM-подхода.</p>
        <p class="lh-1">Этот инструмент помогает реализовать процессы, описанные в библиотеке ITIL,
        и занимает центральное место в цепочке создания ценности в новейшей редакции ITIL.</p>
    </h3>

    <h4>
        <hr class="hr"/>
        <p class="lh-1">Служба Service Desk решает три задачи:</p>
        <p class="lh-1"> - работает как SPOC (Single Point of Contact, единая точка контакта),</p>
        <p class="lh-1">  связывая бизнес и провайдеров для всех коммуникаций, связанных с ИТ;</p>
        <p class="lh-1"> - отвечает за процесс управления инцидентами в соответствии с SLA;</p>
        <p class="lh-1"> - обрабатывает запросы пользователей на обслуживание и сокращает время ответа.</p>
    </h4>

</div>
</body>
</html>