<div class="column-sidebar" xmlns:th="http://www.thymeleaf.org"
     th:fragment="sidebar">

    <ul class="navbar-nav me-auto mb-2 mb-lg-0 list-sidebar">
        <li class="nav-item sidebar-button-l btn-user">
            <a class="nav-link active a-tag-pad" aria-current="page" href="/">
                <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/newTask.png" alt="" width="138" height="45">
            </a>
        </li>
        <li class="nav-item sidebar-button-h btn-user">
            <a class="nav-link active a-tag-pad" aria-current="page" href="/authors">
                <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/myTask.png" alt="" width="138" height="90">
            </a>
        </li>
        <li class="nav-item sidebar-button-h btn-user">
            <a class="nav-link active a-tag-pad" aria-current="page" href="/my/books">
                <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/myReport.png" alt="" width="138" height="90">
            </a>
        </li>
        <li class="nav-item sidebar-button-h btn-user">
            <a class="nav-link active a-tag-pad" aria-current="page" href="/my/books">
                <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/help.png" alt="" width="138" height="90">
            </a>
        </li>
        <li class="nav-item sidebar-button-h btn-user">
            <a class="nav-link active a-tag-pad" aria-current="page" href="/my/books">
                <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/profile.png" alt="" width="138" height="90">
            </a>
        </li>
    </ul>
</div>